.venv/
__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.spec

test/
tests/
.pytest_cache/

temp_scan*.png
*.jpg
*.jpeg
*.pdf

*.log
*.tmp
*.bak

/*.md
!/README.md

/.*/
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
